/* Reset de estilos y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212428;
    font-family: Arial, sans-serif;
    color: #f9f9f9; /* Texto blanco */
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #121212;
    color: #f9f9f9; /* Texto blanco */
    padding: 15px;
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.logo {
    display: flow-root;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 3;
}
.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    background-color: #ffffff;
    padding-left: 5px;
    border-radius: 30px;
    width: 50%;
    display: flex;
}
.search-bar:hover {
    background-color: #dadba4;
    
}

.search-bar input {
    font-size:large;
    color: #141827;
    width: 85%;
    border: none;
    outline: none;
    background-color: #ffffff00;
    padding: 5px;
} 
.search-btn {
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
button:hover {
    transform: acale(1.1);

}

.auth-buttons button {
    padding: 8px;
    cursor: pointer;
}

/* Estilos del contenido dinámico */
.content {
    margin-top: 80px; /* Altura de la barra de navegación */
    padding: 20px;
}

/* Estilos del pie de página */
.footer {
    background-color: #121212; /* Dark blue/oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

