/* Reset de estilos y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212428;
    font-family: Arial, sans-serif;
    color: #f9f9f9; /* Texto blanco */
}
.login{
    margin: 2px;
    padding: 8px;
    cursor: pointer;
    width: 100px;
    font-weight: bolder;
    border: none;
    background-color: #bb9cdb;
    border-radius: 18px;   
}

.login:hover{ 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: #cbb7df;
}
#loading-spinner {
    box-shadow: 0 0 40px #0f0;
    border: 16px solid rgba(255, 255, 255, 0.3);
    border-top: 16px solid #48ff00;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Ocultar inicialmente */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #121212;
    color: #f9f9f9; /* Texto blanco */
    padding: 10px;
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.logo {
    display: flow-root;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 3;
}
.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    background-color: #ffffff;
    border-radius: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.search-bar:hover {
    background-color: #d1f7c8;
    
}

.search-bar input {
    font-size:large;
    color: #141827;
    width: 75%;
    border: none;
    outline: none;
    background-color: #ffffff00;
    padding: 5px;
} 
.search-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #4c00ff58;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);

}

/* Estilos del contenido dinámico */
#content {
    margin-top: 80px;
    text-align: center;
    margin-top: 80px; /* Altura de la barra de navegación */
    padding: 20px;
}

/* Estilos del pie de página */
.footer {
    background-color: #121212; /* Dark blue/oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

