.colores{
    width: 200px;
    height: 200px;
    border: 70px solid;
    border-color: #00000000;
    border-radius: 50%;
}
#verde {
    border-top: #00ff00;
}
#rojo {
    border-top: #ff0000;
}
#azul {
    border-top: #0000ff;
}
#amarillo {
    border-top: #ffff00;
}